<div>
  <b-row>
    <b-col xl="3" lg="4" sm="6" v-for="(item, index) in movies" :key="index">
      <nuxt-link :to="`/movies/${item._id}`">
        <div class="card p-3 movie-card">
          <div class="movie-card__image-container">
            <b-img-lazy class="movie-card__image" :src="require(`@/assets/movie.jpg`)" :alt="item.name"></b-img-lazy>
            <span class="movie-card__title">{{ item.name }}</span>
          </div>
        </div>
      </nuxt-link>
    </b-col>
  </b-row>
</div>
