{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ],
  "plugins": [
    [
      "transform-imports",
      {
        "bootstrap-vue": {
          "transform": "bootstrap-vue/es/*.{js,jsx}"
        }
      }
    ]
  ]
}
