<div>
    <b-navbar toggleable="lg" type="dark" class="py-lg-0" variant="dark">
      <b-navbar-brand to="/">Quintic</b-navbar-brand>
      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
      <b-collapse id="nav-collapse" class="justify-content-center" is-nav>
        <b-navbar-nav class="mr-lg-5 pr-lg-5">
          <b-nav-item>
            <nuxt-link to="/" class="nav-link" variant="dark">Ana Sayfa</nuxt-link>
          </b-nav-item>
          <b-nav-item>
            <nuxt-link to="/movies" class="nav-link" variant="dark">Filmler</nuxt-link>
          </b-nav-item>
          <b-nav-item>
            <nuxt-link to="/characters" class="nav-link" variant="dark">Karakterler</nuxt-link>
          </b-nav-item>
          <b-nav-item>
            <nuxt-link to="/books" class="nav-link" variant="dark">Kitaplar</nuxt-link>
          </b-nav-item>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
 </div>