.character-card {
    box-shadow: rgba(57, 55, 55, 0.2) 0px 2px 8px 0px;
    background-color: rgb(31, 29, 29);
    margin-bottom: 2rem;
  
    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
    }
  
    .box-character {
      width: 100%;
      height: 275px;
      position: relative;
  
      .box-character__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
  
      .character-card__title {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 80%;
        text-align: center;
        background-color: rgb(156, 156, 156);
        color: black;
        padding: 15px;
        transform: translate(-50%, -50%);
        border-radius: 0px;
      }
    }
  }
  