<div class="container-fluid my-lg-5 my-4">
  <div class="book-card-detail__box-container card">
    <b-row class="book-card-detail__row">
      <b-col lg="6">
        <img class="book-card-detail__image" src="@/assets/books.jpg" :alt="bookDetail.name" />
      </b-col>
      <b-col lg="6">
        <div class="book-card-detail__box">
          <template v-if="loading">
            <h3>Yükleniyor...</h3>
          </template>
          <template v-else>
            <template v-if="bookDetail && bookDetail._id">
              <h3 class="book-card-detail__title">{{ bookDetail.name }}</h3>
            </template>
            <template v-else>
              <h1>Kitap Bulunamadı</h1>
            </template>
          </template>
        </div>
      </b-col>
    </b-row>
  </div>
</div>
