<b-row class="mt-4" style="row-gap: 15px;">
    <b-col xl="3" md="6">
      <b-form-input v-model="internalSearchQuery" @input="debouncedSearchCharacters" placeholder="Karakter Ara" />
    </b-col>
    <b-col xl="3" md="6">
      <b-form-select v-model="internalSelectedLimit" @change="updateLimit" :options="limitOptions" />
    </b-col>
    <b-col xl="3" md="6">
      <b-form-select v-model="internalSelectedSort" @change="updateSort" :options="sortOptions" />
    </b-col>
    <b-col xl="3" md="6">
      <b-pagination
        v-model="currentPage"
        :total-rows="totalCount"
        :per-page="perPage"
        align="fill"
        @input="handlePagination"
      ></b-pagination>
    </b-col>
  </b-row>